.section{
	width: 900px;
	height: 420px;
	margin: 20px auto;
	position: relative;
font-family: Ubuntu, sans-serif;

}
h2{
font-family: Ubuntu, sans-serif;

}
h3{
font-family: Ubuntu, sans-serif;

}
/* Message to show when border-radius is not supported */
.message{
	display: none;
	text-align: center;
	font-weight: bold;
font-family: Ubuntu, sans-serif;
	color: #000;
	font-size: 20px;
	font-style: italic;
	padding-bottom: 20px;
}
.no-borderradius .message{
	display: block;
}
/* Box with dashed border to show the bounding box of the circle */
.normal-trigger-area{
	width: 420px;
    height: 420px;
	position: absolute;
    left: 0px;
    top: 0px;
	border: 1px dashed #916d57;
	background: rgba(179,143,121,0.1);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.5);
}
/* The circle */
.ec-circle{
    width: 420px;
    height: 420px;
	-webkit-border-radius: 210px;
	-moz-border-radius: 210px;
	border-radius: 50%;
	text-align: center;
    overflow: hidden;
	font-family:'Kelly Slab', Georgia, serif;
    background: #dda994 url(../img/1.jpg) no-repeat center center;
	-webkit-box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
		inset 0 0 0 7px #d5ad94;
	-moz-box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
		inset 0 0 0 7px #d5ad94;
	box-shadow: 
        inset 0 0 1px 230px rgba(0,0,0,0.6),
		inset 0 0 0 7px #d5ad94;
	-webkit-transition: box-shadow 400ms ease-in-out;
	-moz-transition: box-shadow 400ms ease-in-out;
	-o-transition: box-shadow 400ms ease-in-out;
	-ms-transition: box-shadow 400ms ease-in-out;
	transition: box-shadow 400ms ease-in-out;
	/*For IE < 9 so that we have some kind of effect */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	display: block;
	outline: none;
}
.ec-circle-hover{
	-webkit-box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #c18167,
		0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #c18167,
		0 0 10px rgba(0,0,0,0.3);
    box-shadow: 
		inset 0 0 0 0 rgba(0,0,0,0.6),
		inset 0 0 0 20px #c18167,
		0 0 10px rgba(0,0,0,0.3);
	/*For IE < 9 so that we have some kind of effect */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* Text inside of circle */
.ec-circle h3{
	color: transparent;
    font-size: 66px;
	line-height: 420px;
    text-shadow: 0px 0px 100px #fff;
	text-transform: uppercase;
    -webkit-transition: text-shadow 400ms ease-in-out;
	-moz-transition: text-shadow 400ms ease-in-out;
	-o-transition: text-shadow 400ms ease-in-out;
	-ms-transition: text-shadow 400ms ease-in-out;
	transition: text-shadow 400ms ease-in-out;
}
.ec-circle-hover h3{
	text-shadow: 0px 0px 1px #fff;
}
/* Content on the right side */
.content{
	width: 420px;
	float: right;
}
.content a{
	color: #c18167;
	font-weight: bold;
}
.content a:hover{
	color: #000;
}
.content p{
	padding: 10px 0px;
	font-size: 16px;
	line-height: 26px;
	font-family: Georgia, serif;
	font-style: italic;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
}
.content h1{
	font-family:'Kelly Slab', Georgia, serif;
    font-size: 46px;
	padding-bottom: 10px;
	color: #c18167;
	text-shadow: 2px 1px 2px rgba(0,0,0,0.2), 0px 0px 1px #fff;
}
.content h1 span{
	font-size: 22px;
}

#featured{ 
	width:945px; 
	padding-right:300px; 
	position:relative; 
	border-radius:8px;
font-family: Ubuntu, sans-serif;
color:#ff6209;
	border:5px solid #ccc; 
	height:400px; overflow:hidden;
	background:#fff;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:677px; 
	list-style:none; 
	padding:0; margin:0; 
	width:250px; height:400px;
 color:#ff6209;
	overflow:auto;
	overflow-x:hidden;
}
#featured ul.ui-tabs-nav li{ 
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
color:#ff6209;
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:60px; text-decoration:none;
	color:#333;  background:#fff; 
	line-height:20px; outline:none;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
color:#ff6209;
}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('images/selected-item.gif') top left no-repeat;  
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:680px; height:400px; 
	background:#999; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	bottom:0; left:0; 
	height:90px; 
	background: url('../images/transparent-bg.png'); 
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:17px; font-family:Verdana; color:#ff6209; right:10px; top:-20px; line-height:30px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:1.2em; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0; font-weight:normal;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:15px; 
	line-height:15px; color:#ff6209;
}
#featured .info a{ 
	text-decoration:none; 
font-size:18px; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
color:#27a9ec;
}
#featured .ui-tabs-hide{ 
	display:none; 
}

#mparent{
background:#f7f7f7;
font-family: Ubuntu, sans-serif;
float:center;
height:1000px;
padding:50px;
width:77%;
border-radius:10px;
margin-left:12em;
}

#footer{
font-family: Ubuntu, sans-serif;
position:relative;
bottom:0;
background: transparent url(../img/b_banner.png) ;
border-top:10px solid #f0f0f0;
border-bottom:10px solid #f6f6f6;
opacity:0.3;
width:100%;
font-family: Ubuntu, sans-serif;
color:white;
padding:30px;
color:#000;
height:200px;
margin-top:14px;
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
font-family: Ubuntu, sans-serif;
  display:none;
}
  
#footer a{
color:#fff;

}
#boxes .window {
  position:fixed;
  left:0;
font-family: Ubuntu, sans-serif;
  top:0;
  width:600px;
  height:400px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:600px; 
  height:400px;
border-radius:10px;
color:#ff6209;
  padding:10px;
border: 10px solid #ff6600;
  background-color:#ffffff;
}

#boxes #dialog1 {
  width:375px; 
  height:203px;
font-family: Ubuntu, sans-serif;
color:#ff6209;
}

#boxes #dialog3 {
  width:375px;
font-family: Ubuntu, sans-serif; 
  height:203px;
  width:600px; 
color:#ff6209;
  height:400px;
border:20px;
border-radius:10px;
  
  background-color:#ffffff;

}
#boxes #dialog4{
  width:375px; 
  height:203px;
  width:600px; 
font-family: Ubuntu, sans-serif;
color:#ff6209;
  height:400px;
border-radius:10px;
  
  background-color:#ffffff;

}
#boxes #dialog5 {
font-family: Ubuntu, sans-serif;
  width:375px; 
  height:203px;
  width:600px; 
color:#ff6209;
  height:400px;
border-radius:10px;
  
  background-color:#ffffff;

}
#boxes #dialog6 {
  width:375px; 
  height:203px;
font-family: Ubuntu, sans-serif;
  width:600px; 
color:#ff6209;
  height:400px;
border-radius:10px;
  
  background-color:#ffffff;

}

#dialog1 .d-header {
  background:url(../images/login-header.png) no-repeat 0 0 transparent; 
  width:375px; 
  height:150px;
font-family: Ubuntu, sans-serif;
}

#dialog1 .d-header input {
  position:relative;
  top:60px;
font-family: Ubuntu, sans-serif;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}

#dialog1 .d-blank {
  float:left;
  background:url(../images/login-blank.png) no-repeat 0 0 transparent; 
  width:267px; 
  height:53px;
font-family: Ubuntu, sans-serif;
}

#dialog1 .d-login {
  float:left;
  width:108px; 
  height:53px;
font-family: Ubuntu, sans-serif;
}

#boxes #dialog2 {
  background:url(../images/notice.png) no-repeat 0 0 transparent; 
  width:500px; 
font-family: Ubuntu, sans-serif;
  height:300px;
color:#ff6209;
  padding:50px 0 20px 25px;
}

#boxes #dialog7 {
  width:375px; 
  height:203px;
  width:600px; 
  height:400px;
color:#ff6209;
border-radius:10px;
 
font-family: Ubuntu, sans-serif;


  background-color:#ffffff;

}
.row{
color:#ff6209;
font-size:20px;
font-family: Ubuntu, sans-serif;


}
h2{
color:#ff6209;
font-family: Ubuntu, sans-serif;
}
#sec{
color:#ff6209;
font-family: Ubuntu, sans-serif;
font-size:20px;
padding:50px;
}

#simple2Tab{
color:#ff6209;
background:#f0f0f0;
font-size:20px;
padding:50px;
font-family: Ubuntu, sans-serif;
position:relative;
}
#simple3Tab{
color:#ff6209;
font-family: Ubuntu, sans-serif;
background:#f0f0f0;
font-size:20px;

padding:50px;
}
#simple4Tab{
color:#ff6209;
font-family: Ubuntu, sans-serif;
background:#f0f0f0;
font-size:20px;

padding:50px;
}
p{
font-family: Ubuntu, sans-serif;
font-size:20px;
}
#left{
float:right;
color#000;

}
.panel{

color:#000;
}
